@import "src/scss/_variables";

.NavBar{
  background-color: $navbar;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  .fa-firstdraft {
    margin-left: 0.5rem;
    font-size: 1.6rem;
  }
  
  .nav-menu {
    display: flex;
    width: 200%;
    margin-right: 15%;
    margin-left: 15%;
    align-items: center;    
    gap: 20px;
  }

  a {
    color: black;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    padding-top: 10px;
    font-weight: 600;
    text-align: center;
    justify-content: center;
    width: 100%;
  }

   a:hover{
     box-shadow: 0 -4px 0 0 black;
   }

  .links-selected:focus{
    box-shadow: 0 -4px 0 0 black;
  }

  .fa-bars {
    color: #fff;
  }
  
  .nav-menu-icon {
    display: none;
  }
  
}


//MOBILE---VIEW
//960px
@media screen and (max-width: 690px) {

  .NavBar{
     display: flex;
     align-items: center;
     justify-content: center;;
  }

  //side nav icon
  .nav-menu-icon {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  //side-nav 
  .nav-menu {
    width: 100%;
    position: absolute;
    top: 60px;
    left: -120%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  //ul side nav container
  .nav-menu.active {
    background: #242222;
    left: 0;
    opacity: 1;
    transition: all 0.8s ease;
    padding-left: 0;
    height: 100%;
    display: flex;
    align-items: left;
    justify-content: left;
    padding-left: 50px;
    padding-top: 25px;
    width: 50%;
    .inner-nav-menu{
      display: flex;
      flex-direction: column;
    }
    .nav-item{
    }
  
    .nav-links {  

    }
  
    
  }
  
  .fa-times {
    color: #fff;
    font-size: 2rem;
  }

}