@import "src/scss/_variables";

.HomePage{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: $primary;
    margin-top: 50px;
    
    .MuiContainer-root{
        padding: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }
    .title{
        font-family: 'Open Sans', sans-serif;
        font-size: 23px;
        font-weight: bold;
        letter-spacing: 7px;
        color: white;   
        text-align: center;
        margin-top: 50px;
    }
    .eyeball-container{
        display: flex;
        justify-content: center;
        padding: 20px;
        .xxl{
            border: 4px solid #1d1c1c;
            border-radius: 50%;
        }
    }
    .content-container{
        margin-left: 15%;
        margin-right: 15%;
        width: 50%;
        .content{
            font-family: 'Open Sans', sans-serif;
            margin-top: 40px;
        }
        color: $navbar;
        .header{
            font-size: 30px;
            font-family: 'Open Sans', sans-serif;
            font-weight: 600;
        }
        .inner-content{
            font-family: 'Open Sans', sans-serif;
            line-height: 1.6;
            margin-top: 35px;
            margin-bottom: 50px;
            font-size: 18px;
        }
        .footer{
            font-family: 'Open Sans', sans-serif;
            font-style: italic;
            font-size: 15px;
        }
    }
    .middle-content{
        background-color: #e6e6e6;
        width:100%;
        margin-top: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 350px;
        .inner-middle-content{
            display: flex;
            flex-direction: row;
            color: $primary;
            .content{
                margin-top: 40px;
                width: 500px;
                margin-left: 50px;
                .header{
                    font-family: 'Open Sans', sans-serif;
                    font-size: 25px;
                    font-weight: bold;
                    letter-spacing: 6px;
                    

                }
                .inner-content{
                    font-family: 'Open Sans', sans-serif;
                    font-size: 15px;
                    margin-top: 35px;
                    line-height: 1.6;
                }
            }
        }
    }
    .final-content{
        background-color: $primary;
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 50%;        
       .video-player{
           margin-top: 80px;
       }
       .buttons{
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin-top: 25px;
        margin-bottom: 50px;
        .button{
            text-transform: none;
            background-color: #2f2e2e;
            border-radius: 5%;
            font-size: 16px;
            padding: 10px 40px 10px 40px;
            color: white;
            .MuiButton-label{
             font-family: 'Open Sans', sans-serif;
            }
            
        }
       }
       
    }
    
}